@font-face {
  font-family: baemin;
  src: url(../src/fonts/BMJUA_ttf.ttf);
}
* {
  font-family: baemin;
  margin: 0;
  padding: 0;
  line-height: normal;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  border-bottom: rgb(253, 135, 145) dotted 3px;
  /* background-color: aliceblue; */
}
#header-area {
  /* margin: 0 auto; */
  /* float: left; */

  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1024px;
  /* background-color: orange; */
}

#rainbow-logo > img {
  float: left;
  width: 60px;
  height: 60px;
}
#rainbow-logo > p {
  float: left;
  font-size: 50px;
  color: rgb(253, 135, 145);
  padding-top: 10px;
}

#footer {
  clear: both;
  border-top: rgb(253, 135, 145) dotted 3px;
  height: 64px;
  background-color: rgb(230, 230, 230);
}
