@font-face {
  font-family: baemin;
  src: url(../src/fonts/BMJUA_ttf.ttf);
}
* {
  font-family: baemin;
  margin: 0;
  padding: 0;
  line-height: normal;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  border-bottom: grey solid 1px;
  /* background-color: aliceblue; */
}
#header-area {
  /* margin: 0 auto; */
  /* float: left; */

  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1024px;
  /* background-color: orange; */
}

#header-name {
  font-size: 50px;
}
#category {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1024px;
}
#rainbow-logo > img {
  float: left;
  width: 60px;
  height: 60px;
}
#rainbow-logo > p {
  float: left;
  font-size: 50px;
  color: rgb(253, 135, 145);
  padding-top: 10px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  height: 50%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#footer {
  clear: both;
  border-top: gery solid 1px;
  height: 30px;
  background-color: rgb(230, 230, 230);
  width: 100%;
}

nav {
  float: left;
  width: 100%;
  padding-right: 20px;
  padding-left: 220px;
  margin: 0;
  text-align: center;
}

ul {
  list-style: none;
}

ul li {
  color: #808080;
  padding-bottom: 3px;
  font-size: 18px;
  display: inline-block;
  padding-right: 350px;
}
