@font-face {
  font-family: baemin;
  src: url("../fonts/BMJUA_ttf.ttf");
}

* {
  font-family: baemin;
  background-color: #eee;
}

ul li {
  background-color: rgb(194, 166, 166);
  list-style: none;
  float: left;
  text-align: center;
}

a {
  text-decoration: none;
}
