
* {
  font-family: baemin;
  background-color: #eee;
}



a {
  font-size: 15px;
  text-decoration: none;
  color: #606b6b;
  background-color: #c9d1d6;
  padding: 13px 26px 13px 26px;
  margin: 3px;
  display: inline-block;
  border-radius: 100px;
}
